@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

/* -------------- Please do not change the CSS for the below elements ----------- */
html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Covered By Your Grace', cursive;
}

#ptotemy-game {
    position: fixed;
    width: 640px;
    height: 480px;
    margin:auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

#log {
    display: none;
    pointer-events: none;
}

#entities, #items {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    pointer-events: none;
}

img {
    width: 100%;
    height: 100%;
}

.environment, .location, .entity, .item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* -------------- You can change CSS of elements below this as will ----------- */

#launchpad {
    background: rgba(1,1,1,1);
}

#main-logo span{
    position: relative;
    top: 49%;
    left: 38%;
    color: rgba(1,1,1,1);
    font-family: "Times New Roman";
    font-size: 35px;
}


#mainPage {
    display:none;
}

#start span {
    position: relative;
    color: whitesmoke;
    top: 92%;
    left: 85%;
    cursor: pointer;
    z-index: 1;
}

.books {
    width: 60%;
    height: 60%;
    top: 18%;
    left: 21%;
    cursor: pointer;
}

.carousel-item {
    width: 100%;
    height: 100%:
}

.no-click       { pointer-events: none; }
.less-opacity   { opacity: 0.4; }

#tome {
    display: none;
}

#createScreen {
    display: none;
}

#info-panel {
    height: 20%;
    top: 80%;
    /*background: rgba(255, 111, 13, 0.7);*/
}

#brew-pot {
    height: 60%;
    width: 50%;
    top:30%;
    left: 25%;
    /*background: rgba(155, 11, 153, 0.7);*/
}

#animate-reference {
    width: 1px;
    height: 1px;
    top: 60%;
    left: 50%;
    background-color: red;
    position: absolute;
}

#elements-container-1 {
    width: 15%;
    height: 78%;
    padding-top: 2%;
    text-align: center;
}
#elements-container-2 {
    width: 70%;
    height: 19.5%;
    left: 15%;
    padding-top:1%;
    text-align: center;
}

#elements-container-2 img {
    padding: 7.5%;
}

#elements-container-3 {
    width: 15%;
    height: 78%;
    left: 85%;
    padding-top: 2%;
    text-align: center;
}

.primary-elements {
    width: 70px;
    height: 70px;
}

.clicker {
    position: absolute;
}

.element-img {
    margin: 2.5%;
    width: 28%;
    vertical-align: middle;
    display: inline-block;
}

#toc div {
    padding-bottom: 3px;
}

a.tome-links:link       { color: #010101; text-decoration: none; font-size: 17px; }
a.tome-links:visited    { color: #010101; text-decoration: none; }
a.tome-links:hover      { color: #010101; text-decoration: none; border-bottom: 1px dotted #010101; }

